/* stylelint-disable docusaurus/copyright-header */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  background-color: #646f7a;
  height: 600px;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureImage {
  height: 200px;
  width: 200px;
}

.getStarted {
  margin: 8px;
}

.videoStream {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.heroContainer {
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1em black, 0 0 0.2em black;
  max-width: initial;
  width: 100%;
  /* height should add .heroBanner padding */
  height: calc(100% + 4rem * 2);
  /* remove default .container padding */
  padding: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
